/routing_test/app/views/public/items/show.html.erb

<div class="genres-box">
  <p><b>ジャンル検索</b></p>
  <div>
    <p>ケーキ</p>
    <p>焼き菓子</p>
    <p>プリン</p>
    <p>キャンディ</p>
  </div>
</div>

<div>
  <p>画像</p>
  <div>
    <h2>いちごのショートケーキ (ホール)</h2>
    <h3>栃木県産のとちおとめを贅沢に使用しています。</h3>
    <h3>￥2,750(税込)</h3>
    <p>個数選択　カートに入れる</p>
  </div>
</div>

<%= link_to "TOP", "/" %>
<%= link_to "ABOUT", "/about" %>
<%= link_to "商品一覧", "/items" %>
<%= link_to "商品詳細", "/items/:id" %>